contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.1
imageio==2.37.0
imagingcontrol4==1.3.0.3125
pymmcore==12.5.0.75.0
kiwisolver==1.4.8
matplotlib>=3.7,<3.9
numpy>=1.26
opencv-python>=4.8
packaging>=23.0
pillow>=10.0
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5_sip==12.13
pyserial==3.5
python-dateutil==2.8.2
six==1.16.0
tifffile>=2023.0
