# macOS files
.DS_Store

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.virtualenv/
.pytest_cache/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# VSCode settings
.vscode/

# PyInstaller
dist/
build/

# Log files
*.log

# Other
coverage.xml
htmlcov/
*.cover
*.sqlite3

prim_app/last_run.txt
/primenv
*.zip
prim_app/configs/MMConfig_ThorLabsCam.cfg
/Beta features/testenv
/installer/output
